<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淄博景博膜结构工程有限公司</title>
    <meta name="description"
          content="淄博景博膜结构工程有限公司致力于景观张拉膜结构工程策划,设计,建造与膜结构工程施工,主要生产,推拉篷 ,张拉膜结构景观,膜结构车棚,膜结构自行停车棚，商业街屋顶膜结构,环保污水池加盖工程的安装及膜结构应用开发和后期维修和维护,有需要我公司膜结构产品的客户请联系我们!"/>
    <meta name="keywords" content="车棚,停车棚,自行车棚,膜结构,膜结构工程,膜结构公司,景观膜结构,张拉膜,景观张拉膜,张拉膜结构,张拉膜工程,张拉膜公司"/>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/libs/jslides/jquery.jslides.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/public/libs/viewer/viewer.min.css" media="screen">

    <script type="text/javascript" src="/public/libs/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/public/libs/jslides/jquery.jslides.js"></script>
    <script type="text/javascript" src="/public/libs/viewer/viewer.min.js"></script>
    <link rel="stylesheet" href="/public/css/float.css" type="text/css" charset="utf-8">
</head>
<body>
<div class="top">
    <div class="top_main"><img src="/public/imgs/logo1.jpg"></div>
</div>
<div class="nav">
    <div class="nav_main bold f14">
        <ul>
            <li><a href="http://jbmjg.net/">网站首页</a></li>

            <li><a href="http://jbmjg.net/1/">公司简介</a></li>

            <li><a href="http://jbmjg.net/2/" rel="dropmenu2">产品展示</a></li>

            <li><a href="http://jbmjg.net/3/">工程案例</a></li>

            <li><a href="http://jbmjg.net/4/">新闻资讯</a></li>

            <li><a href="http://jbmjg.net/a5/">膜结构介绍</a></li>

            <li><a href="http://jbmjg.net/6/">联系我们</a></li>

        </ul>
    </div>
</div>
<div id="focus">
    <!-- 代码 开始 -->
    <div id="full-screen-slider">
        <ul id="slides">
            <li style="background: url('/public/imgs/1-1F4110Z345361.jpg') center top no-repeat; z-index: 800; display: block;"><a href="http://jbmjg.net/" target="_blank"></a></li>
        </ul>
    </div>
    <!-- 代码 结束 -->
</div>
<div class="main_top" style="line-height:40px;"><a href="http://jbmjg.net/#" class="bold">关键词搜索：</a>污水处理厂膜结构,充电桩,景观膜结构,学校看台膜结构</div>

<div class="main_tit"> <span>景博膜结构，产品展示</span>
    <p>先进的生产技术，节约您的生产成本！</p>
</div>
<div class="cpzs">
    <ul>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_8.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_2.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_5.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_7.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_4.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_1.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_6.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_3.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">景观设施膜结构</a></span></li>

    </ul>
</div>
<div class="clear"></div>
<div class="kefu">
    <div class="kefu_main">
        <div class="kfmin_left"> <span>为用户创造价值，为企业赢得朋友 </span>
            <p>以人为本，诚信务实，互利双赢</p>
        </div>
        <div class="kfmin_cen"><img src="/public/imgs/product/kefu.png"></div>
        <div class="kfmin_rig">
            <div class="kfmin_rig_top"> 24小时咨询热线：<br>
                <strong>淄博景博膜结构工程有限公司</strong> </div>
            <div class="kfmin_rig_bot"><a href="http://jbmjg.net/6/">联系我们</a></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="main_tit"> <span>工程案例</span>
    <p>先进的生产技术，节约您的生产成本！</p>
</div>
<div class="cpzs">
    <ul>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_38.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">学校看台膜结构案例</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_40.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">学校看台膜结构案例</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_44.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">学校看台膜结构案例</a></span></li>
        <li><a href="javascript:void(0)"><img src="/public/imgs/product/new/0420_45.jpg" width="253" height="253"></a><span><a href="javascript:void(0)">学校看台膜结构案例</a></span></li>

    </ul>
</div>
<div class="clear"></div>
<div class="gsjj">
    <div class="gsjj_main">
        <div class="gsjj_main_left"><img src="/public/imgs/product/gc.jpg" width="360" height="430"></div>
        <div class="gsjj_main_right"> <span>淄博景博膜结构工程有限公司</span>
            <p>  淄博景博膜结构工程有限公司是以建筑膜结构技术开发、设计、制作、施工及维护的先进技术环保企业。 淄博景博膜结构工程有限公司 优秀的设计团队，专业的技术团队，精湛的施工团队已参与完成多项国内标志性膜结构建筑。根据膜结构的建筑用途、使用环境、结构特点及建筑风格等具体情况来选择膜材和结构设计方案，重视项目设计的可操作性和细部处理，对加工做到精细再精细，对施工做到严格严谨，使每项工程都是精品中的精品。  公司秉承“以人为本、科学管理、无限创新、质量为魂、诚信是本、服务至上”的经营理念，以专业的技术，全新的思维竭诚为广大客户设计建造完美和谐的空间结构工程。 </p>
            <div class="gsjj_more"><a href="http://jbmjg.net/1/">查看更多</a></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="main_tit"> <span>新闻&amp;案例</span>
    <p>携手高新技术，为您提升品质，节约成本</p>
</div>
<div class="news">
    <div class="news_left"> <img src="/public/imgs/product/news.png"> <div class="news_left_new1"> <span><a href="http://jbmjg.net/4/20170411/25.html">选择张拉膜车棚注意事项</a></span>
        <p>选择张拉膜车棚因该注意哪些事项？ 张拉膜车棚的设计主要包括体形设计、荷载分析和裁剪分析等四大问题。通过设计确定建筑形状尺寸、三维造型、净空体量并确定各控制点的坐标和...……</p>
    </div>
    </div>
    <div class="news_right mr60">
        <ul>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/1">选择张拉膜车棚注意事项</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/2">膜结构车棚结构形式浅析</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/3">膜结构施工中膜的安装要</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/4">为什么膜结构建筑现在这</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/5">膜结构排水要注意的问题</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/6">张拉整体结构</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/7">膜结构车棚和景观棚的区</a></p>
                <span>2018-01-15</span> </li>
            <li> <strong>[新闻动态]</strong>
                <p><a href="http://jbmjg.net/4/8">独家定制膜结构车棚</a></p>
                <span>2018-01-15</span> </li>

        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="foot">
    <div class="foot_main">Copyright@2017-2018 淄博景博膜结构工程有限公司 rights reserved 版权所有&nbsp;&nbsp;&nbsp; 鲁ICP备18019186号-1</div>
</div>
<script>
    $('.cpzs ul').viewer()
</script>
<!-- /footer -->

</body>
</html>