<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淄博景博膜结构工程有限公司</title>
    <meta name="description"
          content="淄博景博膜结构工程有限公司致力于景观张拉膜结构工程策划,设计,建造与膜结构工程施工,主要生产,推拉篷 ,张拉膜结构景观,膜结构车棚,膜结构自行停车棚，商业街屋顶膜结构,环保污水池加盖工程的安装及膜结构应用开发和后期维修和维护,有需要我公司膜结构产品的客户请联系我们!"/>
    <meta name="keywords" content="车棚,停车棚,自行车棚,膜结构,膜结构工程,膜结构公司,景观膜结构,张拉膜,景观张拉膜,张拉膜结构,张拉膜工程,张拉膜公司"/>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/libs/jslides/jquery.jslides.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/public/libs/viewer/viewer.min.css" media="screen">

    <script type="text/javascript" src="/public/libs/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/public/libs/jslides/jquery.jslides.js"></script>
    <script type="text/javascript" src="/public/libs/viewer/viewer.min.js"></script>
    <link rel="stylesheet" href="/public/css/float.css" type="text/css" charset="utf-8">
</head>
<body>
<div class="top">
    <div class="top_main"><img src="/public/imgs/logo1.jpg"></div>
</div>
<div class="nav">
    <div class="nav_main bold f14">
        <ul>
            <li><a href="http://jbmjg.net/">网站首页</a></li>

            <li><a href="http://jbmjg.net/1/">公司简介</a></li>

            <li><a href="http://jbmjg.net/2/" rel="dropmenu2">产品展示</a></li>

            <li><a href="http://jbmjg.net/3/">工程案例</a></li>

            <li><a href="http://jbmjg.net/4/">新闻资讯</a></li>

            <li><a href="http://jbmjg.net/a5/">膜结构介绍</a></li>

            <li><a href="http://jbmjg.net/6/">联系我们</a></li>

        </ul>
    </div>
</div>
<div id="focus">
    <!-- 代码 开始 -->
    <div id="full-screen-slider">
        <ul id="slides">
            <li style="background: url('/public/imgs/1-1F4110Z345361.jpg') center top no-repeat; z-index: 800; display: block;">
                <a href="http://localhost" target="_blank"></a></li>

        </ul>
        <ul id="pagination" style="margin-left: 445px;">
            <li class="current"><a href="http://jbmjg.net/#">1</a></li>
        </ul>
    </div>
    <!-- 代码 结束 -->
</div>
<div class="main_top" style="line-height:40px;"><a href="http://jbmjg.net/#" class="bold">关键词搜索：</a>污水处理厂膜结构,充电桩,景观膜结构,学校看台膜结构
</div>

<div class="n_main">
    <div class="n_left">
        <div class="nlef_tit"><a href="http://jbmjg.net/2/">产品展示</a></div>
        <div class="nlef_main">
            <ul>
                <ul>

                    <li><span><a href="http://jbmjg.net/2/1/" rel="dropmenu10">体育设施膜结构</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/2/">自行车/汽车车棚膜结构</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/3/">景观设施膜结构</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/4/">充气膜结构</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/5/">PTFE/ETFE膜结构</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/6/">沼气/污水膜结构</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/7/">学校看台</a></span></li>

                    <li><span><a href="http://jbmjg.net/2/8/">充电桩</a></span></li>

                </ul>
            </ul>
        </div>
        <div class="nlef_tit"><a href="http://jbmjg.net/6/">联系我们</a></div>
        <div class="nlef_main1"><strong>淄博景博膜结构工程有限公司</strong> <br>
            电话：13869351802<br>
            地址：山东省淄博市沂源县城鲁山路东段三元市场院内<br>
        </div>
        <div class="nlef_bot"> 全国客服热线： <strong>13869351802</strong></div>
    </div>

    <div class="n_right">


        <li><a href="javascript:void(0)"><img
                src="/public/imgs/cq/1-1F62GUU50-L.jpg"></a><span><a
                href="http://jbmjg.net/2/4/2017/0627/57.html">充气膜结构</a></span></li>


        <div class="clear"></div>


    </div>
   <!-- <div class="pagination-wrapper">
        <div class="pagination">
            <ul>
                <li><span class="pageinfo">共 <strong>1</strong>页<strong>1</strong>条记录</span></li>

            </ul>
        </div>
    </div>-->


</div>
<div class="clear"></div>
<div class="foot">
    <div class="foot_main">Copyright@2017-2018 淄博景博膜结构工程有限公司 rights reserved 版权所有&nbsp;&nbsp;&nbsp; 鲁ICP备18019186号-1</div>
</div>
<script>
    $('.n_right').viewer();
</script>
<!-- /footer -->


</body>
</html>